{% extends "base.html" %}

{% load static %}

{% block title %}
- Mentions légales
{% endblock title %}

{% block content %}

<header class="masthead">
  <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-6 align-self-center">
              <div class="card">
                  <h5 class="card-header">Mentions légales</h5>
                  <div class="card-body">
            <p>Réalisé avec le <a href="https://www.djangoproject.com/" target="_blank">Framework Django</a></p>
          
            <p>Template de <a href="https://startbootstrap.com/themes/creative/" target="_blank">Start Bootstrap</a></p>

            <p>Données de <a href="https://fr.openfoodfacts.org" target="_blank">OpenFoodFacts</a></p>

            <p>Image d'accueil de <a href="https://unsplash.com/photos/eqsEZNCm4-c" target="_blank">Olenka Kotyk</a></p>

            <p>Images de Ratatouille de <a href="https://www.pixar.com/" target="_blank">Pixar</a></p>

            <p>Icones de <a href="https://fontawesome.com" target="_blank">fontawesome</a></p>
                  </div>
              </div>
          </div>
      </div>
    </div>
</header>

{% endblock content %}
